.about {    
    margin-bottom: 156px;

    @include desktop {
        margin-bottom: 150px;
    }  
}

.about-container {
    display: flex;
    justify-content: center;
    padding: 0 10%;  

    @include desktop {
        padding: 0 2%; 
    }  
    @include phones-small {
        flex-direction: column;
    }
}