.about {    
    /* margin-bottom: 262px;    

    @include desktop {
        margin-bottom: 230px;
    }  

    @include tablets {
        margin-bottom: 142px;
    }  

    @include phones-small {
         margin-bottom: 105px;
    } */

    // для прокрутки
    padding: 13% 0; 
}

.about-container {
    display: flex;
    justify-content: center;
    padding: 0 10%;  

    @include desktop {
        padding: 0; 
    }  

    @include phones-small {
        flex-direction: column;
    }
}