.copyright {
    display: flex;
}

.copyright__year-text {
    font-size: 48px;
    font-weight: $semi-bold;
    color: rgba($white-color, 0.1);
    line-height: 30px;
    white-space: nowrap;
    margin-right: 60px;
}