.description {
    flex:1;
    //padding: 0 20% 0 20%;     
}

.description__name-welcome,
.description__name-about,
.description__content {
    font-weight: $semi-bold;
    color: rgba($light-color, 0.4);
}

.description__name-welcome {
    margin-bottom: 30px;
}

.description__name {
    margin-bottom: 38px;
}

.description__name-about {
    margin-bottom: 105px;
}
