.feedback {
    .title {
        margin-bottom: 5.5%;

        @include desktop { 
            margin-bottom: 6.5%;
        }   
    }
    margin-bottom: 8.3%;

    @include desktop { 
        margin-bottom: 14.3%;
    }   
}