.menu__list {
    display: flex;
}

.menu__item {
    //margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {

    border-bottom: 3px solid transparent;
    transition: border-bottom-color .2s;
    padding-bottom: 40px;
    padding-left:32px;
    padding-right:32px;

    &:hover {
        color: rgba($active-menu-color,1);
        color: $active-menu-color;
        font-weight: $bold;
        border-bottom-color: $active-menu-color;
    }    
}

