.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {

    border-bottom: 3px solid transparent;
    transition: border-bottom-color .2s;

    &:hover {
        color: rgba($hover-menu-color,1);
    }

    &.is--active {
        color: $active-menu-color;
        font-weight: $bold;
        border-bottom-color: $active-menu-color;    
    }
}

