.scroll__image {
    display: flex;
    align-items: center;

    &:before {
        content: "Скролл";
        display: inline-block;    
    } 
}

.scroll__image-icon {
    width: 30px;
    height:30px;
    fill: $text-color;
} 
