.skills__circle {
    width: 134px;
    height: 134px;
    fill: transparent;
    stroke: $stroke-color;
    stroke-width: 9px;
    transform: rotate(-180deg);
}

.skill__circle--above {
    //stroke: green;//linear-gradient(to right, #ad00ed, #5500f2);
    stroke-width: 22px;   
    stroke-dasharray: 503;
    stroke-dashoffset: 201;    
} 
