.skills__circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: $stroke-color;
    stroke-width: 9px;
    transform: rotate(-180deg);   
}

.skill__circle--above {
    stroke-width: 22px;   
    stroke-dasharray: 503;
    stroke-dashoffset: 201;    
} 
