.social__list {
    display: flex;
    align-items: center;

    padding-top: 3%;
}

.social__item {
    flex-shrink: 0;
    margin-right: 40px;
    
    &:last-child {
        margin-right: 0;
    }
    
    &:hover {
    .social__icons {
        fill: $active-menu-color;
        transition: .3s;
    }
}

}

.social__icons {
    width: 31px;
    height: 31px;
    fill: $text-color;

    @include tablets {
        width: 29px;
        height: 29px;
    }
}
