.social__list {
    display: flex;
    align-items: center;
}

.social__item {
    margin-right: 40px;
    
    &:last-child {
        margin-right: 0;
    }
}

.social__icons {
    width: 31px;
    height: 31px;
    fill: $text-color;
}

.social__link:hover {
    .social__icons {
        fill: $active-menu-color;
        transition: .3s;
    }
}
