.triangles {
    display: flex;
    margin-bottom: 15%;
}

.triangle__item {
    display: block;
    height: 93px;
    width: 50%;
    fill: $white-color;
    margin-top: -93px;    
}

.triangles--two {    
    .triangle__item {
        margin-top: 0;
    }
    margin-bottom: 9%;

    @include desktop { 
        margin-bottom: 8%;
    }   
}