.work {

    .title {
        margin-bottom: 92px;

        @include desktop {
            margin-bottom: 60px;
        }

        @include tablets {
            margin-bottom: 44px;
        }
    }   

    margin-bottom: 173px;

    @include desktop {
        margin-bottom: 84px;
    }
    
    @include tablets {
        margin-bottom: 52px;
    }
}

