footer.footer
    .container.footer-container 
        .footer__left         
            .copyright
                .copyright__year
                    .copyright__year-text © 2019
                .footer__hero
                    .hero__name
                        h1.hero__name-elem Игорь Безместин
                    .hero__profession
                        .hero__profession-elem Личный сайт #[span.span-block]веб-разработчика 

        .footer__right    
            .footer__navigation
                nav#navigation_menu--footer              
            .footer__thinks
                .footer__mythink
                    article.footer__text Этот сайт я сделал в рамках обучения в #[span.span-block]Школе онлайн образования Loftschool            
                    .footer__social
                        include ./components/socials

                blockquote.footer__greatthink
                    article.footer__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .footer__thinker Martin Golding 