section#section_2.about
    .container.about-container
        .avatar
            .avatar__block.animated__s2-1
                +image(`content/user.jpg`, 'avatar__image', 'Аватар')                             
            .avatar__info.animated__s2-2
                table.avatar__info-table
                    -
                        var informations = [
                            ['Проживаю:','Арзамас'], 
                            ['Возраст:', '32 года'], 
                            ['Родился:', '29 марта 1988'] 
                        ];
                    each info in informations
                        tr.avatar__info-row
                            td.avatar__info-key #{info[0]}
                            td.avatar__info-value #{info[1]}
        .description
            .description__name
                .description__name-welcome Привет, меня зовут
                h2.description__title Игорь Безместин
                .description__name-about Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .description__name-cv
                    +icon('link', 'slider__icon')
                    a(href="https://nn.hh.ru/resume/0ffd953fff05649c9c0039ed1f523344466e4c").description__name-link Скачать резюме
            .description__block
                //- .description__content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!              
                .description__content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Здесь присутствует админ-панель (SPA) для редактирования данных на странице
                