section#section_1.fullscreen-section.hero
    .container.hero-container
        include ../header
        .hero__block
            .hero__profession.animated__s1-3
                .hero__profession-elem Личный сайт #[span.span-block] веб-разработчика
            .hero__name.animated__s1-4
                h1.hero__name-elem Игорь Безместин  
        .hero__scroll
            .scroll__block            
                button(type="button").scroll__image