.image-load {
    width: 495px;
    height: 275px;
    background-color: rgba($light-color, .23);
    outline: 2px dashed $admin-border-bottom-color;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

.image-load__title {
    line-height: 34px;
    color: rgba($light-color, .5);
    font-weight: $semi-bold;

    margin-bottom: 27px;
}

