.main-menu {

    & .menu {
        max-width: 1080px;
        margin: 0 auto;
    }

    & .menu__link {
        &:hover {
            color: $admin-link-color;
            border-bottom-color: $admin-link-color;
        }
    }
    
    background-color: $white-color;
    margin-bottom: 60px;
}