.skill {
    width: 100%;
    font-size: 16px;
    font-weight: $regular;
    color: rgba(black, .9);
}

.skill__table {
    width: 100%;
}

.skill__table-row {
    height: 40px;
}

.skill__name {
    width: 65%;
}

.skill__percent {
    color: $admin-border-bottom-color;
}