.modal
    .modal__window
        .modal__title Письмо отправлено
        .modal__description Для других вопросов, пожалуйста, свяжитесь со мной по почте 
            span
                a(href="mailto://igorbezmestin@gmail.com").modal__mail igorbezmestin@gmail.com
        button(type="button").form__elem-button.modal__button Закрыть 
    .modal__tooltip.green
        .modal__tooltip-text Сообщение отправлено
        .modal__tooltip-close