include ./mixins

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Игорь Безместин | Портфолио
  body
    //- include ./templates/components/preloader
    +async_script('preloader/', 'preloader')

    .wrapper
      main.maincontent
        .wrappersections.wrappersections--home.animation
          include ./templates/sections/parallax
          include ./templates/sections/hero
          include ./templates/sections/about
        include ./templates/components/triangles

        .wrappersections.wrappersections--two
          include ./templates/sections/useful                  
          include ./templates/sections/work
        
        .wrappersections.wrappersections--end
          include ./templates/sections/parallax_budda
          include ./templates/components/triangles_back
          include ./templates/sections/review              
          include ./templates/sections/feedback

      include ./templates/footer
      include ./templates/components/modal
      include ./templates/components/mobile_menu

    include ./templates/components/skills.pug
    include ./templates/components/reviews.pug
    include ./templates/components/works2.pug
    include ./templates/components/navigation.pug